/* Police */

@font-face {
    font-family: "roblox";
    src: url("police/Roblox Font Black.otf");
   }

/* Style */


/* /////////////////////////////

            Boutons 

///////////////////////////// */

.rouge{
   
    font-size: 50px;
    position: static;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

.bleu{
   
    font-size: 50px;
    position: static;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

.bouton {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form {
    display: flex;
    justify-content: center;
    /* width: 50%; */
    padding: 15px;
}

.button1 {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-size: 35px;
    width: 33vh;
    cursor: pointer;
}

.button1:hover {
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.button1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button2 {
    text-align: center;
    text-decoration: none;
    color: black;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(37, 61, 255, 0.9);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-size: 35px;
    width: 33vh;
    cursor: pointer;
}


.button2:hover {
    background-color: rgba(0, 100, 255, 0.9);
    cursor: pointer;
}

.button2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton2 {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(37, 61, 255, 0.9);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton2:hover {
    background-color: rgba(0, 100, 255, 0.9);
}

.bouton2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton3 {

    width: auto;
    /* display: flex; */
    font-size: 25px;
    margin: auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #89898A;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton3:hover {
    background-color: #484848;
}

.bouton3:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* /////////////////////////////

            Blocs

///////////////////////////// */

.bloc_principal{
    margin-top: 10em;
}

.bloc2{
    margin-left: auto;
    margin-right: auto;
    width: 5em;

}

.bloc3{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: roblox;
}

.bloc4{
    margin: auto;
    width: 15em;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #51983E;
    border-radius: 20px;
}

.reponse_bloc4{
    margin: 0em;
    width: 5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
}

.reponse_bloc4:hover{
    font-size: 32px;
}

.formulaire{
    text-align: center;
    margin: 2em 0em 2em 0em;
}

.instru{
    background-color: #000;
    width: 13.5em;
    font-size: 55px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background-color: #FFBD00;
    border-radius: 20px;
    height: auto;
}

.regles{
    display: flex;
    background-color: red;
    width: auto;
    height: 2em;
    border-radius: 7.5px;
    justify-content: center;
    margin: auto;
}

.instructions{
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    width: 35em;
    margin: 5em auto 0 auto;
    /* background-color: red; */
    background: linear-gradient(to top right, #1B7C34, #2BBA50);
    padding: 20px;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;
}

/* /////////////////////////////

            Texte

///////////////////////////// */

.para{
    text-align: center;
    text-decoration: none;
    color: black;
}

.para2{
    text-align: center;
    text-decoration: none;
    color: black;
}

.para:hover{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 51px;
}

.para2:hover{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 31px;
    font-weight: bold;
}

.reponse{
    margin: 0em;
    width: 13.5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
}

.texte_regles{
    width: auto;
    margin-left: auto;
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.texte_regles:hover{
    color: black;
    font-size: 22px;
}

.texte_instructions{
    margin: 0;
}

/* /////////////////////////////

            Tableau

///////////////////////////// */

td
{
    border: solid;
    text-align: center;
    font-size: 2em;
    padding: 2vh;
}

table{
    border-collapse: collapse;
}

td[scope="equipe_rouge"]{
    /* color: red;
    font-size: 2em;
    font-weight: bold; */
    color: #3A3A3A;
    text-shadow: 0 0 0 transparent, -1px -1px 0 #DD4959, 0 -1px 0 #DD4959, 1px -1px 0 #DD4959, -1px 0 0 #DD4959, 0 0 0 #DD4959, 1px 0 0 #DD4959, -1px 1px 0 #DD4959, 0 1px 0 #DD4959, 1px 1px 0 #DD4959;
    font-size: 2em;
    font-weight: bold;
}

td[scope="equipe_bleue"]{
   
    
    font-weight: bold;
    color: #3A3A3A;
    text-shadow: 0 0 0 transparent, -1px -1px 0 #2C59D5, 0 -1px 0 #2C59D5, 1px -1px 0 #2C59D5, -1px 0 0 #2C59D5, 0 0 0 #2C59D5, 1px 0 0 #2C59D5, -1px 1px 0 #2C59D5, 0 1px 0 #2C59D5, 1px 1px 0 #2C59D5;
    font-size: 2em;
}

.m-auto {
    width: 100%;
    table-layout: auto;
}

tr {
    border: solid;
}

tbody {
    font-weight: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    border: hidden;
}