/* Police */

@font-face {
    font-family: "roblox";
    src: url("police/Roblox Font Black.otf");
   }

/* Style */

.rouge{
   
    font-size: 50px;
    position: static;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

.bleu{
   
    font-size: 50px;
    position: static;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}


.bleu2{
    
    font-size: 30px;
    
}

.bloc_principal{
    margin-top: 10em;
}

.para{
    text-align: center;
    text-decoration: none;
    color: black;
}

.para2{
    text-align: center;
    text-decoration: none;
    color: black;
}

.bloc2{
    margin-left: auto;
    margin-right: auto;
    width: 5em;

}

.bloc3{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: roblox;
}

.bloc4{
    margin: auto;
    width: 15em;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #51983E;
    border-radius: 20px;
}

.reponse_bloc4{
    margin: 0em;
    width: 5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
}

.reponse{
    margin: 0em;
    width: 13.5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
}

.para:hover{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 51px;
}

.para2:hover{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 31px;
    font-weight: bold;
}

td
{
    border: 1px solid black;
    text-align: center;
}

table{
    border-collapse: collapse;
}

td[scope="equipe_rouge"]{
    color: red;
    font-size: 2em;
    font-weight: bold;
}

td[scope="equipe_bleue"]{
    color: blue;
    font-size: 2em;
    font-weight: bold;
}

.cercle {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: red;
    margin: auto;
}

.cercle2 {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: blue;
    margin: 0em auto 0em auto;
}

.points{
    margin: 1em 0em 0em 1em;
}

.plus_un1{
    position: absolute;
    margin: 0.67em 0em 0em 42.75em;
    font-size: 20px;
    font-weight: bold;
}

.plus_un2{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    margin: 0.67em 0em 0em 2.8em;
}


.button1 {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-size: 35px;
    width: 33vh;
    cursor: pointer;
}

.button1:hover {
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.button1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button2 {
    text-align: center;
    text-decoration: none;
    color: black;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(37, 61, 255, 0.9);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-size: 35px;
    width: 33vh;
    cursor: pointer;
}


.button2:hover {
    background-color: rgba(0, 100, 255, 0.9);
    cursor: pointer;
}

.button2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.formulaire{
    text-align: center;
    margin: 2em 0em 2em 0em;
}

.instru{
    background-color: #000;
    width: 13.5em;
    font-size: 55px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background-color: #FFBD00;
    border-radius: 20px;
    height: auto;
}

.bouton {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 15px
}

.bouton2 {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(37, 61, 255, 0.9);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton2:hover {
    background-color: rgba(37, 61, 255, 0.9);
}

.bouton2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton3 {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #89898A;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton3:hover {
    background-color: #89898A;
}

.bouton3:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}