/* Police */

@font-face {
    font-family: "roblox";
    src: url("police/Roblox Font Black.otf");
   }

/* Style */


/* /////////////////////////////

            Boutons 

///////////////////////////// */

.rouge{
   
    font-size: 50px;
    position: static;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

.bleu{
   
    font-size: 50px;
    position: static;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

.bouton {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    font-style: oblique;
    font-weight: bold;
}

.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form {
    display: flex;
    justify-content: center;
    /* width: 50%; */
    padding: 15px;
}

.button1 {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-size: 35px;
    width: 33vh;
    cursor: pointer;

    font-style: oblique;
    font-weight: bold;
}

.button1:hover {
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.button1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button2 {
    text-align: center;
    text-decoration: none;
    color: black;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(37, 61, 255, 0.9);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-size: 35px;
    width: 33vh;
    cursor: pointer;

    font-style: oblique;
    font-weight: bold;
    
}


.button2:hover {
    background-color: rgba(0, 100, 255, 0.9);
    cursor: pointer;
}

.button2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton2 {

    width: auto;
    /* display: flex; */
    font-size: 25px;

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(37, 61, 255, 0.9);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-style: oblique;
    font-weight: bold;
}

.bouton2:hover {
    background-color: rgba(0, 100, 255, 0.9);
}

.bouton2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton3 {

    width: auto;
    /* display: flex; */
    font-size: 25px;
    margin: auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #89898A;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

    font-style: oblique;
    font-weight: bold;
}

.bouton3:hover {
    background-color: #484848;
}

.bouton3:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* /////////////////////////////

            Blocs

///////////////////////////// */

.bloc_principal{
    margin-top: 10em;
}

.bloc2{
    margin-left: auto;
    margin-right: auto;
    width: 5em;

}

.bloc3{
    display: flex;
    margin: 0 auto 0 auto;
    width: auto;
    font-size: 54px;
    text-align: center;
    font-weight: bold;
    font-family: roblox;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
}

.bloc4{
    margin: auto;
    width: 15em;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #51983E;
    border-radius: 20px;
}

.reponse_bloc4{
    display: flex;
    margin: 0.75em auto 0 auto;
    width: 5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}

.reponse_bloc4:hover{
    font-size: 32px;
}

.formulaire{
    text-align: center;
    margin: 2em 0em 2em 0em;
}

.instru{
    background-color: #000;
    width: 13.5em;
    font-size: 55px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background-color: #FFBD00;
    border-radius: 20px;
    height: auto;
    display: flex;
    width: auto;
    border-radius: 7.5px;
    justify-content: center;
    

}

.regles{
    display: flex;
    background-color: red;
    width: auto;
    height: auto;
    border-radius: 7.5px;
    justify-content: center;
    margin: auto;
    font-style: oblique;
    font-weight: bold;
    align-self: flex-start;
    margin-inline: 2em;
    margin-top: 12em;
    padding: 7px;
}

.instructions{
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    width: 35em;
    margin: 5em auto 0 auto;
    /* background-color: red; */
    background: linear-gradient(to top right, #1B7C34, #2BBA50);
    padding: 20px;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;
}

.formulaire_balle{
    margin : auto;
    width: 50em;
}

.bloc_balle{
    margin: 10em auto 0em auto;
}

.bloc_balle2{
    margin-top: 2em;
}

.bloc_reponse_balle{
    margin: 0 auto 0 auto;
    width: 5em;
    justify-content: center;
    text-align: center;
}

/* /////////////////////////////

            Texte

///////////////////////////// */

.para{
    text-align: center;
    text-decoration: none;
    color: black;
}

.para2{
    text-align: center;
    text-decoration: none;
    color: black;
}

.para:hover{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 51px;
}

.para2:hover{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 31px;
    font-weight: bold;
}

.reponse{
    margin: 0em;
    width: 13.5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
    outline: none;
}

.reponse_balle{
    margin: 0 auto 0 auto;
    width: 5em;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #5DAB48;
    border-radius: 20px;
    outline: none;
    display: flex;
   
}
.texte_regles{
    width: auto;
    margin-left: auto;
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.texte_regles:hover{
    color: black;
    font-size: 22px;
}

.texte_instructions{
    margin: 0;
}


.row_regles {
    
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
    width: fit-content;
}

/* /////////////////////////////

            Tableau

///////////////////////////// */

td
{
    border: solid;
    text-align: center;
    font-size: 2em;
    padding: 2vh;
}

table{
    border-collapse: collapse;
}

td[scope="equipe_rouge"]{
    /* color: red;
    font-size: 2em;
    font-weight: bold; */
    color: #3A3A3A;
    text-shadow: 0 0 0 transparent, -1px -1px 0 #DD4959, 0 -1px 0 #DD4959, 1px -1px 0 #DD4959, -1px 0 0 #DD4959, 0 0 0 #DD4959, 1px 0 0 #DD4959, -1px 1px 0 #DD4959, 0 1px 0 #DD4959, 1px 1px 0 #DD4959;
    font-size: 2em;
    font-weight: bold;
}

td[scope="equipe_bleue"]{
   
    
    font-weight: bold;
    color: #3A3A3A;
    text-shadow: 0 0 0 transparent, -1px -1px 0 #2C59D5, 0 -1px 0 #2C59D5, 1px -1px 0 #2C59D5, -1px 0 0 #2C59D5, 0 0 0 #2C59D5, 1px 0 0 #2C59D5, -1px 1px 0 #2C59D5, 0 1px 0 #2C59D5, 1px 1px 0 #2C59D5;
    font-size: 2em;
}

.m-auto {
    width: 100%;
    table-layout: auto;
}

tr {
    border: solid;
}

tbody {
    font-weight: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    border: hidden;
}

/* /////////////////////////////

            Pop Up

///////////////////////////// */

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-size: 25px;

  }
  .button:hover {
    background-color: rgba(255, 0, 0, 1);
    
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    /* background: #fff; */
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
    background: linear-gradient(to top right, #16792f, #3dd666);
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #ffffff;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 2.5vh;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

a:hover {
    
    color: rgb(255, 255, 255);
}


/* /////////////////////////////

            Media Queries

///////////////////////////// */

@media only screen and (min-width: 576px) {
    .m-auto {
        width: 100%;
        max-width: 1440px;
    }
}

@media only screen and (max-width: 576px) {
    .m-auto {
        width: 100%;
        max-width: 1440px;
    }
}


/* /////////////////////////////

         Texte victoire

///////////////////////////// */


.text {

    background-color: red;
    position: absolute;
    left: 12em;
    padding: 4em;
    max-height: 50%;
    border-radius: 52%;

    -webkit-animation-name: clignote; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count:infinite; 
}


.text:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

    transition-duration: 0.5s
    
}

@-webkit-keyframes clignote {
    0%{box-shadow:0px 0px 10px #000000;}
    50%{box-shadow:0px 0px 0px #000000;}
    100%{box-shadow:0px 0px 10px #000000;}
    }



.text_description {
    max-height: 30%;
    overflow: auto;
    font-size: 7vh;
    font-weight: bold;
    font-family: 'roblox';
    

}

.text2 {

    background-color: blue;
    position: absolute;
    left: 12em;
    padding: 4em;
    max-height: 50%;
    border-radius: 52%;

    -webkit-animation-name: clignote; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count:infinite; 
}


.text2:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

    transition-duration: 0.5s
    
}

.erreur {
    background-color: #red;
    
    WIDTH: 20%;
    display: inline-flex;
    POSITION: ABSOLUTE;
    top: 17em;
    left: 16em;
}

.p {
    
    font-size: 1.4em;
    font-weight: bold;
}

.erreur1 {
    background-color: #red;
    
    WIDTH: 20%;
    display: inline-flex;
    POSITION: ABSOLUTE;
    top: 33em;
    left: 69em;
}

.p1 {
    
    font-size: 1.4em;
    font-weight: bold;
}